body{
	background-color: #222f3e;
}

h1{ 
    color: #c8d6e5;
}
p{
 color: #8395a7;
 font-family: sans-serif;
 font-size: 15px;
}

footer{
	color: #8395a7;
	position:center;
}

.header{
      background-color: #576574;
      position: top;
      padding: 30px;
}

.headshot{
	width: "100";
	height: "100";
	vertical-align: left;
}

.sidebar{
	background-color: #576574;
	position: left;
	width: 200px;
	padding: 35px;

}



.grid{
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-gap: 0px;
}
